.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/ripgrep/**
!node_modules/@vscode/ripgrep-darwin-arm64/**
!node_modules/@vscode/ripgrep-darwin-x64/**
!node_modules/@vscode/ripgrep-linux-arm64/**
!node_modules/@vscode/ripgrep-linux-x64/**
!node_modules/@vscode/ripgrep-win32-x64/**
src/**
scripts/**
.gitignore
.yarnrc
esbuild.js
vite.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!dist/webview/**
docs/**
CLAUDE.md
